<% if @user != current_user && !is_confirming_friend?(@user) && !is_friend?(@user) %>
	<%= link_to "add friend", add_friend_path(@user), :method => :post, :class => "btn btn-primary right" %>
<% elsif is_confirming_friend?(@user) %>
	<%= link_to "confriming...", "#", :class => "btn btn-warning right" %>
<% elsif is_friend?(@user) && @user != current_user %>
	<%= link_to "delete friend", friend_path(@user), :method => :destroy, :class => "btn btn-danger right" %>
<% end %>


<h1> <%= @user.profile_nickname %> </h1>
<p>Birthday: <span class="label label-primary"><%= @user.profile_birthday %></span> </p>
<p>Biography: <span><%= @user.profile_bio %> </span></p>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

<table class="table table-hover">
	<thead>
		<th>All pass topics</th>
		<th>Content</th>
	</thead>
	<tbody>
		<% @topics.each do |t| %>
			<tr>
				<td><%= t.title %></td>
				<td><%= truncate(t.content, :length => 50) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

<table class="table table-hover">
	<thead>
		<th>All pass comments</th>
		<th>Topic</th>
	</thead>
	<tbody>
		<% @comments.each do |c| %>
			<tr>
				<td><%= truncate(c.content, :length => 50) %></td>
				<td><%= c.topic.title %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<div style="float: right; "><%= link_to "",topics_path, :class => "btn btn-lg btn-info glyphicon glyphicon-share-alt"%></div>
