
<% if @topic.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
<% end %>


<%= form_for @topic, :html => { :multipart => true } do |t|%>
	<div class="form-group">
		<%= t.label :title, "Title:" %>
		<%= t.text_field :title, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= t.label :tag, "Tag:" %>
		<%= t.text_field :tag, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= t.label :category, "Category:" %>
		<%= t.collection_check_boxes(:category_ids, Category.all, :id, :name)%>
	</div>
	<div class="form-group">
		<%= t.label :permission, "Permission:" %>
		<%= t.select :permission, [["All user can see and comments", "can see and comments"],["Other user can see, but can not comments", "can not comments"], ["Other user is my friend can see and comments", "can comments"]]  %>
	</div>
	<div class="form-group">
		<%= t.label :status, "Status:" %>
		<%= t.select :status, [["Pubilshed", "published"], ["Draft", "draft"], ["Scheduled","scheduled"]]  %>
	</div>
	<div class="form-group" id="publish_time"  style="display:none" >
		<%= t.label :publish_time, "Publish_time:" %>
		<%= t.datetime_select :publish_time, :ampm => true, :minute_step => 15 %>
	</div>
	<div class="form-group">
		<%= t.label :content, "Content:" %>
		<%= t.text_area :content, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= file_field_tag "photos[]", multiple: true %>
	</div>

	<%= t.submit @submit_name, :class => "btn btn-primary" %>
<% end %>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

<% @categories.each do |c| %>
	<%= link_to c.name, topics_path(:category => c.name, :order => params[:order], :status => params[:status], :tag => params[:tag] ), :class => "btn btn-info" %>
<% end %>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<table class="table table-hover">
	<tr>
		<th></th>
		<th><%= link_to "Title", topics_path(:order => :updated_at, :category => params[:category], :status => params[:status], :tag => params[:tag])%></th>
		<th>Content</th>
		<th>Owner</th>
		<th><%= link_to "Comments", topics_path(:order => :comments, :category => params[:category], :status => params[:status], :tag => params[:tag])%></th>
		<th><%= link_to "views", topics_path(:order => :views, :category => params[:category], :status => params[:status], :tag => params[:tag])%></th>
		<th><%= link_to "latest_comment", topics_path(:order => :latest_comment, :category => params[:category], :status => params[:status], :tag => params[:tag])%></th>
		<th>
			<%= link_to "", topics_path(:order => params[:order], :category => params[:category], :status => :published, :tag => params[:tag]), :class => "btn btn-success glyphicon glyphicon-eye-open"%>
			<%= link_to "", topics_path(:order => params[:order], :category => params[:category], :status => :draft, :tag => params[:tag]), :class => "btn btn-warning glyphicon glyphicon-eye-close" %>
			<%= link_to "", topics_path(:order => params[:order], :category => params[:category], :status => :scheduled, :tag => params[:tag]), :class => "btn btn-info glyphicon glyphicon-time" %>
		</th>
	</tr>
	<% @topics.each do |t| %>
		<tr>
			<td><%= image_tag set_image(t, "thumb") %></td>
			<td><%= link_to "#{truncate(t.title, :length => 40)}", topic_path(t) %></td>
			<td><%= truncate(t.content, :length => 10) %></td>
			<td><%= link_to "#{t.user.email}", "/profile/#{t.user.user_name}" %></td>
			<td><%= t.comments.size %></td>
			<td><%= t.views %></td>
			<td><%= t.comments.last.try(:updated_at)%></td>
			<td>
				<% if current_user == t.user || current_user.admin? %>
					<%= link_to "", topics_path( :id =>  t, :page => params[:page], :order => params[:order], :category => params[:category], :status => params[:status], :tag => params[:tag]), :class => "btn btn-primary glyphicon glyphicon-pencil" %>
					<%= link_to "", topic_path(t, :page => params[:page], :order => params[:order], :category => params[:category], :status => params[:status], :tag => params[:tag]), :method => :delete, :class => "btn btn-danger glyphicon glyphicon-trash" %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
<%= paginate @topics %>
