
<% if @topic.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
<% end %>


<%= form_for @topic do |t|%>
	<div class="form-group">
		<%= t.label :title, "Title:" %>
		<%= t.text_field :title, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= t.label :category, "Category:" %>
		<%= t.collection_check_boxes(:category_ids, Category.all, :id, :name)%>
	</div>
	<div class="form-group">
		<%= t.label :content, "Content:" %>
		<%= t.text_area :content, :class => "form-control" %>
	</div>

<!-- 	<%= hidden_field_tag :page, params[:page] %> -->
	<%= t.submit @submit_name, :class => "btn btn-primary" %>
<% end %>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<%= link_to "All", topics_path, :class => "btn btn-info" %>
<% @categories.each do |c| %>
	<%= link_to c.name, topics_path(:category => c.name, :order => params[:order] ), :class => "btn btn-info" %>
<% end %>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />
<table class="table table-hover">
	<tr>
		<th><%= link_to "Title", topics_path(:order => :updated_at, :category => params[:category])%></th>
		<th>Content</th>
		<th>Owner</th>
		<th><%= link_to "Comments", topics_path(:order => :comments, :category => params[:category])%></th>
		<th><%= link_to "latest_comment", topics_path(:order => :latest_comment, :category => params[:category])%>
		<th></th>
	</tr>
	<% @topics.each do |t| %>
		
		<tr>
			<td><%= link_to "#{truncate(t.title, :length => 40)}", topic_path(t) %></td>
			<td><%= truncate(t.content, :length => 10) %></td>
			<td><%= link_to "#{t.user.email}", profile_path(t.user.profile) %></td>
			<td><%= t.comments.size %></td>
			<td><%= t.comments.last.try(:updated_at)%></td>
			<td>
				<%= link_to "", topics_path( :id =>  t, :page => params[:page], :order => params[:order], :category => params[:category]), :class => "btn btn-primary glyphicon glyphicon-pencil" %>
				<%= link_to "", topic_path(t, :page => params[:page], :order => params[:order]), :method => :delete, :class => "btn btn-danger glyphicon glyphicon-trash" %>
			</td>
		</tr>
	
	<% end %>
</table>
<%= paginate @topics %>
