<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="<%=request.original_url%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<%= render(:partial => "who_likes") %>

<div style="clear: both;" id="clear"></div>

<h1>
	<%= render(:partial => "change_subscribe") %>
	<%= @topic.title %>
	
	<% if @favorite.present? %>
		<%= link_to "", favorite_path(:topic_id => params[:id]), :method => :delete, :class => "btn btn-danger btn-lg glyphicon glyphicon-star-empty " %>
	<% else %>
		<%= link_to "", favorite_path(:topic_id => params[:id]), :method => :post, :class => "btn btn-primary btn-lg glyphicon glyphicon-star " %>
	<% end %>
	<%= render(:partial => "like_or_unlike") %>
</h1> 

<% set_topic_images(@topic, "small").each do |picture_url| %>
	<div class="topic_div_set">
		<%= image_tag picture_url, :class => "image" %>
	</div>
<% end %>
<div></div>
<div class="topic_div_set description">
	<p ><%= @topic.content %></p>
</div>
<div class="topic_div_set description">
	<% if !@topic.tag.blank? %>
		<% tags(@topic.tag).each do |tag| %>
			<%= link_to tag, topics_path(:tag => tag ), :class => "label label-info" %>
		<% end %>
	<% end %>
</div>
<% if @comment.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
<% end %>

<% if @topic.permission != "can not comments" || @topic.user == current_user ||  is_friend?(@topic.user)%>
	<hr style="height:2px;border:none;color:#333;background-color:#333;" />
	<%= form_for @comment, :url => @url, method: @action, :remote => true do |c|%>
		<div class="form-group">
			<%= c.label :status, "Status:" %>
			<%= c.select :status, [["Pubilshed", "published"], ["Draft", "draft"], ["Scheduled","scheduled"]]  %>
		</div>
		<div class="form-group" id="publish_time"  style="display:none" >
			<%= c.label :publish_time, "Publish_time:" %>
			<%= c.datetime_select :publish_time, :ampm => true, :minute_step => 15 %>
		</div>
		<div class="form-group">
			<%= file_field_tag "photos[]", multiple: true %>
		</div>
		<div class="form-group">
			<%= c.label :content, "Content:" %>
			<%= c.text_area :content, :class => "form-control" %>
		</div>

	<!-- 	<%= hidden_field_tag :page, params[:page] %> -->
		<%= c.submit @submit_name, :class => "btn btn-primary" %>
	<% end %>
<% end %>


<hr id="before-table" style="height:2px;border:none;color:#333;background-color:#333;" />

<%= render(:partial => "comments_table")  %>
<div style="float: right; margin-top: 15px; "><%= link_to "",topics_path, :class => "btn btn-lg btn-info glyphicon glyphicon-share-alt"%></div>



<%= content_for :og do %>
	<meta property="og:title"         content="<%= @topic.title %>" />
  <meta property="og:description"   content="<%= @topic.content %>" />
  <meta property="og:image"         content="<%= og_image_url(set_image(@topic, 'medium'))  %>" />
<% end %>