<h1><%= @topic.title %></h1> 
<p><%= @topic.content %></p>

<% if @comment.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
<% end %>



<%= form_for @comment, :url => @url, method: @action do |t|%>
	<div class="form-group">
		<%= t.label :content, "Content:" %>
		<%= t.text_area :content, :class => "form-control" %>
	</div>

<!-- 	<%= hidden_field_tag :page, params[:page] %> -->
	<%= t.submit @submit_name, :class => "btn btn-primary" %>
<% end %>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

<table class="table table-hover">
	<tr>
		<th>Comment</th>
		<th>Update_at</th>
		<th></th>
	</tr>
	<% @comments.each do |c| %>
		<tr>
			<td><%= truncate(c.content, :length => 100) %></td>
			<td><%= "Updated by " + c.user.email + " at " + time_ago_in_words(c.updated_at) + " ago" %></td>
			<td>
				<%= link_to "", topic_path(@topic, :comment_id => c, :page => params[:page]), :class => "btn btn-primary glyphicon glyphicon-pencil" %>
				<%= link_to "", topic_comment_path(@topic,c, :page => params[:page]), :method => :delete, :class => "btn btn-danger glyphicon glyphicon-trash" %>
			</td>
		</tr>
	
	<% end %>
</table>

<div style="float: left;"><%= paginate @comments %></div>
<div style="float: right; margin-top: 15px; "><%= link_to "",topics_path, :class => "btn btn-lg btn-info glyphicon glyphicon-share-alt"%></div>
