	<p>
		<%= v.label :name, "Name:" %>
		<%= v.text_field :name %>
	</p>

	<p>
		<%= v.label :url_address, "URL:" %>
		<%= v.text_field :url_address %>
	</p>

	<p>
		<%= v.label :description, "Description:" %>
		<%= v.text_area :description %>
	</p>