<%= form_for @video do |v|%>
	<p>
		<%= v.label :name, "Name:" %>
		<%= v.text_field :name %>
	</p>

	<p>
		<%= v.label :url_address, "URL:" %>
		<%= v.text_field :url_address %>
	</p>

	<p>
		<%= v.label :description, "Description:" %>
		<%= v.text_area :description %>
	</p>
	<%= v.submit @submit_name %>
<% end %>

<h1>List</h1>
<table>
	<tr>
		<th>Name</th>
		<th>URL</th>
		<th>Description</th>
		<th></th>
	</tr>
	<% @videos.each do |v| %>
		
		<tr>
			<td><%= v.name %></td>
			<td><%= v.url_address %></td>
			<td><%= v.description %></td>
			<td>
				<%= link_to "edit", videos_path( :id =>  v )%>
				<%= link_to "destroy", video_path(v), :method => :delete %>
			</td>
		</tr>
	
	<% end %>
</table>