<!DOCTYPE html>
<html>
  <head>
    <title>MiniProjects</title>
    <meta property="og:url"           content="<%=request.original_url%>" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="MiniProjects" />
    <meta property="og:description"   content="HEROGWP" />
    <meta property="og:image"         content="https://<%=request.host_with_port%>/images/medium/missing.JPG" />
    <meta property="fb:app_id" content="310178242697156" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px; ">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">選單切換</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_user %>
            <%= image_tag current_user.gravatar_url, :class => "user_pic" %>
            <%= link_to "hi,#{current_user.user_name}", "/profile/#{current_user.user_name}", :class => "navbar-brand" %>
          <% else %>
            <%= link_to "HEROGWP", "https://www.facebook.com/HEROGWP", :class => "navbar-brand" %>
          <% end %>
        </div>
        <%= form_tag topics_path, :method => :get, :class => "navbar-form navbar-left" do %>
          <%= text_field_tag "tag", nil, :class => "form-control", placeholder: 'Enter search tag...' %>
          <%= submit_tag "search", :class => "btn btn-default" %>
        <% end %>
        <!-- 手機隱藏選單區 -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            
          <!-- 右選單 -->
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
              <li><%= link_to('修改密碼', edit_registration_path(:user)) %></li>
            <% else %>
              <li><%= link_to('註冊', new_registration_path(:user)) %></li>
              <li><%= link_to('登入', new_session_path(:user)) %></li>
              <li><%= link_to "Facebook 登入", user_facebook_omniauth_authorize_path %></li>
            <% end %>
            <% if current_user %>
              <li><%= link_to "編輯個人簡介", edit_profile_path %></li>
              <li><%= link_to "我的最愛", favorite_path %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">各種連結 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Abouts", abouts_path %></li>
                <li><%= link_to "Videos", videos_path %></li>
                <li><%= link_to "Topics", topics_path %></li>
                <li><%= link_to "Likes", likes_profile_path %></li>
                <li><%= link_to "friends", friends_path %></li>
                <li><%= link_to "Who add me", who_add_me_friends_path %></li>
              </ul>
            </li>

            <% if current_user.try(:admin?) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理者權限 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Categories", admin_categories_path %></li>
                  <li><%= link_to "Users", edit_admin_user_path(current_user) %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- 手機隱藏選單區結束 -->
    </nav>

  	<div class="container">
      <div class="row">        
        <div class="col-md-12">
          
          <% if flash[:notice].present?%>
            <div class="alert alert-success" role="alert"> 
              <%= flash[:notice] %> 
            </div>
          <%end%>
          
          <% if flash[:alert].present?%>
            <div class="alert alert-danger" role="alert"> 
              <%= flash[:alert] %> 
            </div>
          <%end%>
          
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
